
// *{
//     outline: solid 1px red;
// }


.aboutBC{
    background-color: #F6F3EE ;
   
}
.bicolor{
    background: linear-gradient(to right, #F6F3EE 0%, #F6F3EE 50%, #ECE2D3 50%, #ECE2D3 100%);
}
.bicolor2{
    background: linear-gradient(to right, #FBF8EC 0%, #FBF8EC 50%, #F3E5C6 50%, #F3E5C6 100%);
}

.aboutHead{ 
    h1{
        font-family: "Gravitas One", serif;
        font-size: 20px;
        line-height: 1.2em;
        padding-top: 2.2em;
        padding-bottom: 2.5em;
        position: relative;
        z-index: 5;
        color: #1e1a17;
        animation: fontColor 5s infinite;
        text-align: center;
        @include phones(){
            font-size: 18px;
            padding-bottom: 3em;
        }
    }
    
}
.fixMsg{
    h2{
        font-size: 82px;
        color: #EADBC8 ;
        writing-mode: vertical-rl;
        font-family: "Chonburi", serif;
        position: fixed;
        left: 0;
        bottom: 0;
        // text-shadow: 1px 1px 5px rgba(130, 123, 99, 0.8);
        @include tablets (){
            font-size: 64px;
        }
        @include phones (){
            font-size: 36px;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}


.aboutLink{
    position: fixed;
    right: 3%;
    top: 20%;
    z-index: 25;
    
    @include tablets(){
        display: none;
    }
    li + li{
        margin-top: 16px;
    }
    a{  
        font-family: "Kiwi Maru", serif;
        display: inline-block;
        color: #1e1a17;
        padding: 10px 12px;
        transition: ease-out .3s;
        border-left: #706233 3px solid;
        
        &:hover{
            transform: translateX(-25%);
            border-left: #E7B10A 3px solid;
        }
    }
    & :first-child{
       a{
        border-left: #E7B10A 3px solid;
       }
    }
    
}
.aboutTopBtn{
    position: fixed;
    bottom: 8%;
    right: 4%;
    z-index: 20;
    display: none;
    
    a{
        display: inline-block;
        border-radius: 50%;
        background-color: #b39a82;
        color: #fff;
        
        &:hover{
            background-color:#C6A969;
        }
    }
    
    i{
        font-size: 28px;
        vertical-align: middle;
        padding: 4px 16px;
        // text-shadow: 3px 3px 5px rgba(103, 102, 97, 0.8);   
        @include phones(){
            font-size: 20px;
            padding: 4px 12px;
        }
    }

}

@keyframes fontColor {
    0%{color: #39291d;}
    35%{color: #776B5D;}
    75%{color: #E1C78F;}
    55%{color: #B0926A;}
    100%{color: #39291d;}
}
.sideMsgBC{
    background-color:rgba(165,157,140,0.7);
    position: relative;
}
.sideMsgBox{
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    
    @include tablets(){
        padding: 48px 56px;
     }
     @include phones(){
        padding: 48px 16px;
     }
    .sideMsgLine{
        position: absolute;
        left: 0;
        top: -8%;
        width: 100%;
        height: 100%;
        border-top:2px  #7a786e dotted;
        border-bottom:2px  #7a786e dotted;
        @include phones(){
            top: -3%;
        }
    }
    p{
        padding-left: 32px;
        padding-right: 32px;
    }
    & :nth-child(1){
        color: #ffffff;
        font-family: "Zen Kurenaido", sans-serif;
        font-size: 20px;
        text-shadow: 3px 3px 3px #807e7e;
        @include tablets(){
            font-size: 18px;
         }
         @include phones(){
            font-size: 15px;
         }
    }
    & :nth-child(2){
        text-align: end;
        margin-top: 12px;
        color: #394248;
        font-family: "Bilbo Swash Caps", cursive;
        font-size: 26px;
        @include tablets(){
            font-size: 22px;
         }
         @include phones(){
            font-size: 18px;
            margin-top: 24px;
         }
        
    }
    &::before{
        position: absolute;
        top: 10%;
        left: 3%;
        font: var(--fa-font-solid);
        content: "\f10d";
        font-size: 18px;
        animation: arrow-left 3s infinite;
        color: #473C33;
        @include tablets(){
            left: 10%;
        }
        @include phones(){
            font-size: 14px;
        }
    }
    &::after{
        position: absolute;
        bottom: 12%;
        right: 3%;
        font: var(--fa-font-solid);
        content: "\f10e";
        font-size: 18px;
        color: #473C33;
        animation: arrow-right 3s infinite;
        @include tablets(){
            right: 10%;
        }
        @include phones(){
            font-size: 14px;
        }
    }
}

.mainPicBox{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-bottom: 156px;
    @include tablets(){
        padding-top: 50px;
    }
    @include phones(){
        padding-bottom: 100px;
    }
    .leftPic{
        width: 38%;
        padding: 5px;
        border: 2px dotted #706233;
        transform: translateX(-10%);
        @include phones(){
            width: 45%;
            transform: translateX(0);
        }
        img{
            width: 100%;
            object-fit: contain;
            vertical-align: middle;
        }
        
    }
    .rightPic{
        width: 30%;
        align-self: flex-end;
        @include phones(){
            width: 37%;
        }
        img{
            width: 100%;
            object-fit: cover;
            vertical-align: middle;
        }
    }
    .topMsg{
        font-family: "Yesteryear", cursive;
        font-family: "Caveat", cursive;
        font-size: 28px;
        position: absolute;
        z-index: 10;
        color: #3d3831;
        top: 25%;
        left: 45%;
        @include tablets(){
            font-size: 22px;
        }
        @include phones(){
            font-size: 16px;
            top: 7%;
            left: 35%;
        }
       
    }
}


.profileGroup{
    background-image: url(/image/BG09-s.jpg);
}
.profileTitle{
    padding-top: 58px;
    text-align: center; 
    p{
        font-size: 22px;
        color: #57493e;
        font-family: "Chonburi", serif;  
        @include phones(){
            font-size: 20px;
        }
    }
    span{
        font-size: 18px;
        color: #535143;
        font-family: "Klee One", cursive;
        @include phones(){
            font-size: 16px;
        }
    }
    

}
.profileBox{
    display: flex;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 72px;
    position: relative;
    @include tablets(){
        
    }
    @include phones(){
        flex-wrap: wrap;
        justify-content: center;
    }
    .profilePic{
        transform: translateX(20%);
        width: 32%;
        align-self: center;
        position: relative;
        z-index: 5;
        @include tablets(){
            width: 34%;
            
        }
        @include phones(){
            width: 65%;
            transform: translateX(0);
            margin-bottom: 44px;
        }
       
        &::before{
            content: "";
            position: absolute;
            width: 94%;
            height: 96%;
            top: 2%;
            left: 3%;
            border: 2px dashed #ffffff;
            z-index: 10;
        }
        
       img{
         width: 100%;
         height: auto ;
         object-fit: cover;
         vertical-align: middle;
       }
        
    }
    .profileText{
        width: 52%;
        padding: 58px 72px;
        background-color: #ffffff;
        line-height: 1.7;
        text-align: justify;
        border: 2px dashed #B0A695;
        box-shadow: 5px 10px 15px -3px rgba(0,0,0,.1);
        position: relative;
        z-index: 5;
        @include tablets(){
            font-size: 15px;
            line-height: 1.4;
            padding: 46px 50px ;
        }
        @include phones(){
            width: 80%;
            font-size: 13px;
            padding: 32px;
        }
        h3{
            font-family: "Josefin Sans", sans-serif;
            font-size: 18px;
            margin-bottom: 26px;
            color: #47443a;
        }
        p{
            font-family: "Zen Kaku Gothic Antique", sans-serif;
        }
        p+p{
            margin-top: 24px;
            @include phones(){
                margin-top: 16px;
            }
        }
        span{
            font-size: 14px;
        }
    }
    .profileBCitem{
        position: absolute;
        width: 75%;
        height: 40%;
        
        bottom: 30%;
        left: -5%;     
        background-color:rgba(165,157,140,0.7);
        @include phones(){
            bottom: 3%;
            left: 0;
            height: 30%;
        }
    }
}


.majorGroup{
    background-image: url(/image/BG09-s.jpg);
    padding-top: 184px;
    padding-bottom: 264px;
    @include tablets(){
        padding-top: 120px;
        padding-bottom: 200px;
    }
    
}
.majorBox{
    position: relative;
    display: flex;
    justify-content: space-around;
    @include phones(){
        flex-direction: column-reverse;
       justify-content: center;
        align-items: center;
        
    }
    
    .majorTag{
        color: #ffffff;
        background-color: #473C33;
        writing-mode: vertical-rl;
        padding: 8px;
        font-size: 18px;
        letter-spacing: .4em;
        position: absolute;
        top: -25%;
        right: 8%;
        z-index: 10;
    }
    .majorPic{
        width: 40%;
        position: relative;
        box-shadow: 7px 10px 15px -3px rgba(0,0,0,.2);
        align-self: flex-end;
        transform: translateY(25%);
        @include phones(){
            width: 80%;
            align-self: center;
            transform: translateY(25%);
        }
        &::after{
            content: "";
            position: absolute;
            width: 90px;
            height: 40px;
            top: -20px;
            left:50% ;
            background-color:rgba(139,126,116,0.4);
            transform: translateX(-50%);
            z-index: 9;
            
        }
       
        img{
            
            width: 100%;
            height: auto ;
            object-fit: cover;  
            vertical-align: middle;
            border: 12px solid #ffffff;
            border-bottom: 72px solid #ffffff;
            position: relative;
            z-index: 8;
        }
    }
    .majorMsg{
        // width: 53%;
        padding: 86px ;
        
        line-height: 2;
        letter-spacing: 2px;
        font-family: "Noto Sans JP", sans-serif;
        border:2px  solid #a59783;
        background-color: #fff;
        position: relative;
        
        @include tablets(){
            padding:56px;
            letter-spacing: 1.5px;
            padding-left: 76px;
            font-size: 15px;
        }
        @include phones(){
            width: 95%;
            padding-left: 66px;
            line-height: 1.5;
            font-size: 14px;
        }
        & :last-child{
            margin-top: 38px;
            @include tablets(){
                margin-top: 22px;
            }
        }
        &::after{
            content:"大切なこと";
            color: #ffffff;
            background-color: #6e5d4f;
            writing-mode: vertical-rl;
            padding: 8px;
            font-size: 18px;
            letter-spacing: .4em;
            position: absolute;
            top: -20%;
            right: 10%;
            z-index: 10;    
            @include phones(){
                font-size: 14px;
            }
        }
        li{
            text-indent: -30px;
            @include phones(){
                text-indent: -26px;
            }
            &::before{
                font: var(--fa-font-solid);
                content:"\f621" ;
                margin-right: 12px;
                color: #917646;
                @include phones(){
                    font-size: 12px;
                }
            }
        }
        .majorLastLi::before{
            font: var(--fa-font-solid);
            content:"\f005" ;
            margin-right: 12px;
            color: #FFB534;
            @include phones(){
                font-size: 12px;
            }
        }
        
    }
    
    
}

@keyframes arrow-left {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-30px);
    }
    70% {
      transform: translateX(-15px);
    }
    90% {
      transform: translateX(-4px);
    }
  }

@keyframes arrow-right {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(30px);
    }
    70% {
      transform: translateX(15px);
    }
    90% {
      transform: translateX(4px);
    }
  }

.skillsTitle {
      text-align: center;
      padding-top: 92px;
      padding-bottom: 52px;
      @include phones(){
        padding-top: 66px;
      }
    h4{
        font-size: 22px;
        color: #57493e;
        font-family: "Chonburi", serif;
        @include phones(){
            font-size: 20px;
        }
    }
    span{
        font-size: 18px;
        color: #535143;
        font-family: "Klee One", cursive;
        @include phones(){
            font-size: 16px;
        }
    }  
}  

.skillsBox{
    padding-top: 36px;
    padding-bottom: 225px;
    display: flex;
    @include phones(){
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 60px;
    }
    
    .skillsList{
        width: 55%;
        padding: 68px;
        background-color: #fff;
        position: relative;
        z-index: 15;
        box-shadow: 7px 7px 10px -5px rgba(0,0,0,.2);
        @include tablets(){
            width: 60%;
            
        }
        @include phones(){
            width: 92%;
            padding: 44px 36px;
            font-size: 14px;
        }
        li+li{
            margin-top: 12px;
        }
        li{
            border-bottom: 1px dashed #2c2929;
            padding-top: 8px;
            font-family: "Zen Kaku Gothic Antique", sans-serif;
            &::before{
               font: var(--fa-font-solid);
               content:"\f138" ;
               margin-right: 22px;
               color: #504631;
               @include phones(){
                margin-right: 16px;
               }
            }
        } 
        &::after{
            content: "";
            position: absolute;
            width: 180px;
            height: 56px;
            top: 3%;
            right: -6%;
            background-color:rgba(139,126,116,0.4);
            transform: rotate(38deg);
            z-index: 9;
            
        }
        
    }
    .skillsBCitem{
        width: 30%;
        height: 280px;
        background-color:#d9ce9c;
        background-color: #b39a82;
        transform: translate(30%,60%) rotate(-10deg);
        position: relative;
        @include phones(){
        transform: translateY(-30%) rotate(-10deg);
        width: 60%;
        height: 230px;
        
            
        }
        &::after{
            content: "";
            position: absolute;
            width: 200px;
            height: 62px;
            top: 0;
            left: -13%;
            background-color:rgba(139,126,116,0.5);
            transform: rotate(-32deg);
            z-index: 9;
            
        }
        
        
    }
}

.toolGroup{
    background-image: url(/image/BG08-s.jpg);
}
.toolBox{
    padding-top: 126px;
    padding-bottom: 126px;
   
    p{
        font-family: "Yusei Magic", sans-serif;
        text-align: center;      
        margin-bottom: 48px;  
        font-size: 22px;
        color: #57493e;
        @include phones(){
            font-size: 18px;
        }
    }
    ul{
        margin: 0 auto;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include phones(){
            width: 80%;
        }
    }
}
.toolList{
    li{
        min-width: 18%;
        background-color: #fff;
        border: 2px solid #c2be86;
        color: #534435;
        
        padding: 12px 8px;
        text-align: center;
        margin-bottom: 28px;
        font-family: "Kiwi Maru", serif;
        transition: ease .2s;
        // border: 2px solid #B67171;
        // background-color: #c1c8c5;
        @include phones(){
            width: 36%;
            font-size: 14px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
        &:hover{
            transform: translateY(8px);
        }
    }
   
}

.aboutFooter{
    background-color: #7D7463;
    p{
        color: #fff;
        text-align: center;
        padding-top: 24px;
        padding-bottom: 24px;
        font-family: "Josefin Sans", sans-serif;
    }
}


