.model{
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 98;
    .model-msg{
        width: 50%;
        z-index: 99;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        border-radius: 12px;     
        padding: 48px;
        display: flex;
        flex-direction: column;
        align-items: center;

        // border: 10px solid #e4b98d;
        // border: 10px solid #bea48a;
        border: 10px solid #d9b998;
        
        @include tablets{
            width: 65%;
        }
        @include phones{
            width: 94%;
            padding: 30px;
        }
        p{
            line-height: 2.2;
            font-family: "Zen Kaku Gothic Antique", sans-serif;
            text-align: center;
            @include phones{
                line-height: 1.8;
                font-size: 14px;
            }
        }
       
    }
  }
  .close-icon{
    position: absolute;
    top: 20px;
    right: 36px;
    font-size: 34px;
    vertical-align: middle;
    cursor: pointer;
    color: #504a4a;
    transition: all .3s ease;
    @include phones{
        top: 8px;
        right: 12px;
    }
    &:hover{
        color: #bb541f;
        transform: scale(1.1);
    }
}



.mail-icon{
  font-size: 92px;
//   color: #dbb15d;
  color: #eac57a;
  
 
//   color: #b39a82;
  
  margin-bottom: 12px;
}
.contact-text{
    font-family: "Noto Sans JP", sans-serif;
    margin-bottom: 16px;
    @include phones{
        margin-bottom: 0;
    }
}

.sent-btn{
    display: inline-block;
    width: 50%;
    font-family: "Yusei Magic", sans-serif;
    margin-top: 48px;
    padding: 14px 18px;
   
    background-color: #a39b8c;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    
    font-size: 22px;
    @include phones{
        width: 65%;
        font-size: 18px;
    }
    &:hover {
        // background-color: #644a1b;
        background-color: #7D7463;
        color: #fff;
        }  
    &:active{
        background-color: #7D7463;
    }
    
}
.noscroll {
overflow: hidden;
}