.worksBC{
    background-color: #F1ECBC;
    
}

.worksHead{
    background-color: #F6F6F6;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    padding: 64px;
    padding-left: 50px;
    @include tablets(){
        padding-top: 52px;
        padding-bottom: 96px;
    }
    @include phones(){
        padding-top: 46px;
        padding-left: 36px;
        padding-bottom: 158px;
    }
    h1{
        font-size: 56px;
        margin-bottom: 40px;
        font-family: "Mochiy Pop One", sans-serif;
        @include phones(){
            font-size: 36px;
            margin-bottom: 24px;
        }
        
    }
    p{
        padding-left: 66px;
        font-size: 18px;
        margin-bottom: 16px;
        font-family: "Kiwi Maru", serif;
        @include tablets(){
            margin-bottom: 10px;
        }
        @include phones(){
            font-size: 16px;
            padding-left: 46px;
        }
    }
}

.worksLink{
    position: fixed;
    right: 3%;
    top: 25%;
    z-index: 5;
    & :first-child{
        a{
            color: #ED7D31;
        }
     }
    @include tablets(){
        display: none;
    }
    a{
        padding-right: 6px;
        padding-left: 6px;
    }
    li{
        position: relative;
        transition: ease-out .3s;   
        &::before{
            content: "";
            width: 18px;
            height: .5px;
            background-color: #232121;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
        }
        &:hover{
            transform: translateX(-30%);
        }
        &:hover a{
            color: #ED7D31;
            
        }
    }
    & :first-child:hover {
        transform: none;
    }

    li + li{
        margin-top: 18px;
    }
    a{  
        font-family: "Josefin Sans", sans-serif;
        display: inline-block;
        color: #1e1a17;
        padding-top: 15px;
        font-size: 18px;
    }
    
}
.worksSideMsg{
    position: fixed;
    left: 2%;
    top: 50%;
    // transform: translateY(-50%);
    writing-mode: vertical-rl;
    font-family: "Klee One", cursive;
    
    p{
      font-size: 14px;
      position: relative;
      &::before{
            content: "";
            width: .5px;
            height: 50px;
            position: absolute;
            left:calc(50% - 2px) ;
            top: -16px;
            background-color: #5f5e5d;
            transform: translateY(-100%);

      }
      &::after{
        content: "";
        width: .5px;
        height: 50px;
        position: absolute;
        left:calc(50% - 2px) ;
        bottom: -16px;
        background-color: #5f5e5d;
        transform: translateY(100%);

  }
    }
    span{
        display: inline-block;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

@mixin worksPic {
    background-position: center ;
    background-size: cover ;
    background-repeat: no-repeat;
}

.worksBox{
    
    padding: 48px 8px;
    @include phones(){
        padding: 24px 16px;
    }
}
.worksList{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    li{
        width: 30%;
        height: auto;
        margin-bottom: 132px;
        @include tablets(){
            width: 40%;
        }
        @include phones(){
            width: 80%;
            margin-bottom: 88px;
        }
    }
    
}

.projectPic{
    // border: red 1px solid;
    width: 100%;
    height: 85%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 7px 10px 15px -3px rgba(0,0,0,.2);
    border-radius: 5px;
    margin-bottom: 26px;
    &:hover span{
        opacity: 1;
        transform: scale(1);
    }
    span{
        display: inline-block;
        position: absolute;
        top: 16px;
        left: 16px;
        bottom: 16px;
        right: 16px;
        background-color:rgba(255,255,255,0.9);
        transform: scale(0.2);
        opacity: 0;
        transition: .4s ease-out;
        font-size: 18px;
        color: #433e38;
        padding-top: 25%;
        text-align: center;    
        font-family: "Gravitas One", serif;
        font-family: "Kiwi Maru", serif;
        font-family: "Arvo", serif;
        font-family: "Chonburi", serif;
        border-radius: 5px;
    }
    img{
        width: 100%;
        height: 100%;
        vertical-align: middle;
        object-fit: cover;
    }
    
}

.projectBtn{
    display: flex;
    justify-content: center;
    
    position: relative;
    
    &::before{
        position: absolute;
        content: "";
        top: -8px;
        left: 20%;
        width: 55%;
        height: 100%;
        background-color: #ffffff;
        transform: translate(0);
        transition: .3s ease;
     }
    a{  
        position: relative;
        display: inline-block;
        width: 55%;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center;
        font-family: "Yusei Magic", sans-serif;
        font-family: "Kiwi Maru", serif;
        border:1px solid #a2a19c ;
        
        color: #5f5e5d;
        
        &::after{
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);
            font: var(--fa-font-solid);
            content:"\f0da" ;
            color: #3a3731;  
         }
        

    }
    &:hover::before{
        transform: translate(8px,8px);
     }
    
}





.worksFooter{
    
    background-color: #B6B18B;
    padding-top: 46px;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    p{
        color: #fff;
        text-align: center;
        padding-top: 98px;
        padding-bottom: 24px;
        font-family: "Josefin Sans", sans-serif;
        @include phones(){
           padding-left: 52px;
            padding-top: 126px;
            font-size: 14px;
            
            
        }
    }
    
}


/* button-51---CSS */
.test{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color: #00132C;
}
.button-51 {
    background-color: transparent;
    border: 1px solid #266DB6;
    box-sizing: border-box;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 23px;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-51:hover,
  .button-51:active {
    outline: 0;
  }
  
  .button-51:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  .button-51:before {
    background-color: #D5EDF6;
    content: "";
    height: calc(100% + 3px);
    position: absolute;
    right: -7px;
    top: -9px;
    transition: background-color 300ms ease-in;
    width: 100%;
    z-index: -1;
  }
  
  .button-51:hover:before {
    background-color: #6DCFF6;
  }
  
  @media (min-width: 768px) {
    .button-51 {
      padding: 16px 32px;
    }
  }